
<nav class="navbar">
  <div class="navbar-logo">
    <a href="/home" class="nav-link">
      <img src="../../assets/LOGO/favicon-32x32.png" alt="">
    </a>
 
  </div>
    

  <div class="navbar-toggle">
 
  </div>
  <h4>DRIVET</h4> 
   
  <div class="navbar-menu">
    
    <ul class="nav-list">
      <li class="nav-item"><a href="/home" class="nav-link">Inicio</a></li>
      <li class="nav-item has-submenu"><a href="#" class="nav-link">Reservas</a>
        <ul class="submenu">
        <li class="submenu-item"><a href="/home" class="submenu-link">reservar</a></li>
        <li class="submenu-item"><a href="/meservas" class="submenu-link">Mis Reservas</a></li>
      </ul>
      </li>
      <li class="nav-item"><a href="/aboutus" class="nav-link">Acerca de</a></li>
      <li class="nav-item"><a href="/contactanos" class="nav-link">contactanos</a></li>
     
      <li class="nav-item has-submenu">
        <a href="#" class="nav-link">
          <img class="perfil" src="../../assets/perfil/perfil.png" alt="">
        </a>
        <ul class="submenu">
          <li class="submenu-item"><a href="/login" class="submenu-link">Log in</a></li>
          <li class="submenu-item"><a href="/lgadmin" class="submenu-link">Log in admin</a></li>
          <li class="submenu-item"><a href="/singup" class="submenu-link">Sing up</a></li>
          <li class="submenu-item"><a  class="submenu-link" (click)="logout()">LOGOUT</a></li>
        </ul>
      </li>
    </ul>

  </div>
</nav>

  