.chat-container {
    position: fixed;
    bottom: 50%;
    right: 20px;
    z-index: 9999;
    transform: translate(0, 50%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .open .chat-content {
    display: block;
    background-color: #f1f1f1;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    position: relative;
    z-index: 2;
  }

  .chat-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 1;
  }